
body {
    background-color: #1a1e2b;
    color: white;
    font-family: "Arial", sans-serif;
  }

  h1 {
    font-family: "Oswald", sans-serif;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
  }

  section {
    background-color: #2a2e3d;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 90%; 
  }

  nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 15px;
    background-color: #2a2e3d;
    padding: 10px;
    border-radius: 10px;
  }

  nav li {
    list-style: none; 
  }

  nav a {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    text-decoration: none; 
    font-weight: bold;
    color: cyan;
    padding: 10px 15px;
    border-radius: 5px;
    display: block;
  }

  nav a:hover {
    background-color: darkcyan;
    color: white;
  }

  img {
    display: block;
    margin: 10px auto;
    max-width: 100%; 
    height: auto; 
    border-radius: 10px;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out; /* Adds smooth transition when hovering over the image*/
  }

  img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px white;
  }

  iframe {
    display: block;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    height: auto;
    aspect-ratio: 16/9; 
    border-radius: 10px;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  }

  iframe:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px cyan;
  }

  footer {
    margin-top: 20px;
    padding: 20px;
    background-color: #2a2e3d;
    border-radius: 10px;
    max-width: 90%;
    margin: auto;
  }

  a {
    color: darkcyan;
  }
  a:hover {
    color: cyan;
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 1.8em; 
    }

    nav {
      flex-direction: column; 
      text-align: center;
    }

    nav a {
      width: 100%;
    }

    section {
      max-width: 95%;
      padding: 15px;
    }
  }